@import url(http://fonts.googleapis.com/css?family=josfinsans:300,400,700,900);@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic);

/* General body settings */
body {
 font-family: 'Josefin Sans', sans-serif;
  color: #666666;
  -webkit-font-smoothing: antialiased;
}
a {
   font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}
div.content {
  overflow: hidden;
}
/***
General typography 
***/
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
  color: #666666;
  font-family: 'Josefin Sans', sans-serif;
}
/***
Fix link outlines after click * General Clearfix
***/
a {
  color: #E02222;
}
a, a:focus, a:hover, a:active {
  outline: 0;
  text-decoration: none;
}

a:visited{color: #fff}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
}
*html .clearfix {
  zoom: 1;
}
*+html .clearfix {
  zoom: 1;
}
.clear {
  clear: both; 
  height: 0; 
  font-size: 0; 
  line-height: 0; 
  overflow: hidden;
}

/* overides scrolbars in IE10 and makes them look like a default scrollbar */
@-ms-viewport{
  width: auto !important;
}

::-moz-selection {
  color: #fff;
  background: #64AED9;
  text-transform: capitalize;
}
::selection {
  color: #fff;
  background: #64AED9;
}


/***
Misc tools
***/
div.checker,
div.radio {
  top: -1px;
}
/* Checker */
div.checker {
  margin-right: 5px; 
display: inline-block;
vertical-align: middle;}

/* Radio */
div.radio {
  margin-right: 3px; }
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.no-bottom-space {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
.no-top-space {
  padding-top: 0 !important;
  margin-top: 0 !important;
}
.no-space {
  margin: 0 !important;
  padding: 0 !important;
}
.no-text-shadow {
  text-shadow: none !important;
}

.padding-top-5 {
  padding-top: 5px !important;
}
.padding-top-10 {
  padding-top: 10px !important;
}
.padding-top-15 {
  padding-top: 15px !important;
}
.padding-top-20 {
  padding-top: 20px !important;
}
.padding-top-25 {
  padding-top: 25px !important;
}
.padding-top-30 {
  padding-top: 30px !important;
}
.padding-top-35 {
  padding-top: 35px !important;
}
.padding-top-40 {
  padding-top: 40px !important;
}
.padding-top-45 {
  padding-top: 45px !important;
}
.padding-top-50 {
  padding-top: 50px !important;
}
.padding-top-60 {
  padding-top: 60px !important;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}
.margin-bottom-5 {
  margin-bottom: 5px !important;
}
.margin-bottom-10 {
  margin-bottom: 10px !important;
}
.margin-bottom-15 {
  margin-bottom: 15px !important;
}
.margin-bottom-20 {
  margin-bottom: 20px !important;
}
.margin-bottom-25 {
  margin-bottom: 25px !important;
}
.margin-bottom-30 {
  margin-bottom: 30px !important;
}
.margin-bottom-35 {
  margin-bottom: 35px !important;
}
.margin-bottom-40 {
  margin-bottom: 40px !important;
}
.margin-bottom-50 {
  margin-bottom: 50px !important;
}
.margin-bottom-60 {
  margin-bottom: 60px !important;
}
.margin-bottom-65 {
  margin-bottom: 65px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-left-0 {
  margin-left: 0 !important;
}
.margin-right-0 {
  margin-right: 0 !important;
}

.margin-right-20 {
  margin-right: 20px !important;
}
.margin-left-20 {
  margin-left: 20px !important;
}

.padding-left-0 {
  padding-left: 0 !important;
}
.padding-right-0 {
  padding-right: 0 !important;
}
.padding-right-30 {
  padding-right: 30px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}
.clearfix::after {
    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
    font-size: 0px;
    line-height: 0;
}
/*Header*/
header .navbar-default {
  background: none;
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default ul.navbar-nav {
  padding-top: 25px;
}
header .navbar-default ul.navbar-nav li a {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 16px;
  padding: 7px 20px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

header .navbar-default ul.navbar-nav li a:hover {
  z-index: 99999;
  color: #ffffff;
  
  border: 2px solid #ffffff;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default ul.navbar-nav li a:hover:after {
  background: #ffffff;
}

header .navbar-default .navbar-brand {
  height: auto;
  padding-top: 20px;
}
header .navbar-default.scrolled {
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default.scrolled .navbar-brand {
  padding: 15px 20px;
}
header .navbar-default.scrolled .navbar-brand img {
  width: auto;
  max-height: 33px;
}
header .navbar-default.scrolled ul.navbar-nav {
  padding-top: 15px;
}

header .navbar-default.scrolled ul.navbar-nav li a:hover{
  
 z-index: 99999;
  color: #ffffff !important;
  background: #336799;
  
}
header .navbar-default.scrolled button{
  
  border: 2px solid #336799 !important;
  color: #336799!important;
  font-weight: bold;
}
header .navbar-default.scrolled button:hover{
  
  background: #336799!important;
  color: #fff!important;
  font-weight: bold;
}

header .background-slider-container,
.background-slider{
  width:100%;
  position:relative;

}
/*Bacground Slide*/
.slide1, .slide2, .slide3 {
min-height: 700px;
background-size: cover;
background-position: center center;
background-color: transparent;
background-repeat: no-repeat;
background-image: url("img/transparent.png");
background-size: cover;
background-position: left top;
width: 100%;
height: 100%;
opacity: 0.1;
position: relative;
}
.slide1 {
  background-image: url(http://quanticalabs.com/wp_themes/medicenter/wp-content/themes/medicenter/images/slider/img1.jpg);
}
.slide2 {
  background-image: url(http://quanticalabs.com/wp_themes/medicenter/wp-content/themes/medicenter/images/slider/img2.jpg);
}
.slide3 {
  background-image: url(http://quanticalabs.com/wp_themes/medicenter/wp-content/themes/medicenter/images/slider/img3.jpg);
}
/* Carousel Fade Effect */
.carousel.carousel-fade .item {
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -ms-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  transition: opacity 1s linear;
  opacity: .5;
}
.carousel.carousel-fade .active.item {
  opacity: 1;
}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}
.carousel-overlay {
  position: absolute;
  bottom: 100px;
  right: 0;
  left: 0;
  top:130px;
  /*text styles below just for demo*/
  color: white;
  text-shadow: 1px 1px 1px rgba(0,0,0,.5);
  font-size: 5em;
}
.carousel-overlay h1{
  color: #fff;
}
.carousel-overlay h2{
  color: #fff;
  margin: 30px 0px 30px;
  font-size: 35px;
text-align: center;
  
  }
.carousel-overlay h3 {
  color: #fff;
  text-shadow:none;
  
}
.carousel-overlay p {
  color: #fff;
  text-shadow:none;
  
}
.lead{
  font-size: 21px;
  font-weight: normal;
  text-shadow:none;
}

/* Search Form Styles*/
.input-lg {
  height: 54px;
}
.btn.btn-lg {
    padding: 15px 20px!important;
  }
.homeSearchbar {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);}
.fa-map-marker{margin-right:10px; }
/*How It works*/
 .howitworks-item {
  text-align: center;
  font-size: 17px;
  line-height: 25px;
  color: #999999;
  
}
.howitworks-item i.fa {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  padding: 35px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 104px;

}
.howitworks-item i.fa {
  border: 2px solid #fff;
  color: #fff;
}
.howitworks-item:hover i.fa {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.15);
}
.howitworks-item:hover h3 {
  color: #fff;
}



/* Top Search Section */
section#topsearch .testimonial-filtering .slick-dots li button:before {
  display: none;
}
section#topsearch .slider {
  margin: 20px 0;
}
section#topsearch .slider div img {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  padding: 10px;
  display: inline;
}
section#topsearch .slider div h4 {
  text-align: center;
  margin-top: 10px;
  color: #336799
  font-size: 16px;
}
section#topsearch .slider .slick-dots li button {
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
}
section#topsearch .slick-prev,
section#topsearch .slick-next {
  width: 50px;
  height: 50px;
  top: 44%;
}
section#topsearch .slick-slide {
  text-align: center;
}
section#topsearch .slick-prev:before {
  content: "\f104";
}
section#topsearch .slick-next:before {
  content: "\f105";
}
section#topsearch .slick-prev:before,
section#topsearch .slick-next:before {
  font-size: 34px;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
  line-height: 45px;
  color: #CCC;
  border: 2px solid #CCC;
  width: 50px;
  display: inline-block;
  height: 50px;
  text-align: center;
}

section#topsearch  header h1:after {
  background: #336799;
}
section#topsearch  .slider div img {
  border: 2px solid #e5e5e5;
}
section#topsearch  .slider div h4 {
  color: #999999;
}
section#topsearch  .slider .slick-dots li button {
  background: #999999;
}
section#topsearch  .slider .slick-dots li.slick-active button {
  background: #336799;
}
section#topsearch  .filter a {
  border: 2px solid #cccccc;
  color: #999999;
}
section#topsearch  .filter a:hover {
  color: #ffffff;
  background: #336799;
  border-color: #336799;
}
section#topsearch  .filter a.active {
  color: #ffffff;
  background: #336799;
  border-color: #336799;
}

/* Aboutus Section */
section#aboutus {
  background: url("../img/bg/dial-health-img1.jpg") fixed;
  color: #fff;
box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}
section#aboutus header {
  color: #ffffff;
}

section#aboutus .section-heading h1 {
  
  color: #fff;
}
section#aboutus .section-heading p {
  
  color: #fff;
}




section#aboutus .platforms .media {
  border: 2px solid #ffffff;
  color: #ffffff;
}
section#aboutus .platforms .media a i {
  color: #ffffff;
}
section#aboutus .platforms .media a div.media-body {
  color: #ffffff;
}
section#aboutus .platforms .media:hover {
  background: #ffffff;
}
section#aboutus .platforms .media:hover a i,
section#aboutus.platforms .media:hover a div.media-body {
  color: #cc6698;
}
/* Services */

section#services .media > .pull-right {
  margin-left: 20px;
}
section#services .media i.fa {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  padding: 20px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 2.6em;
  text-align: center;
}
section#services .media .media-heading {
  padding-top: 10px;
  font-weight: 300;
}
section#services .media .media-body {
  color: #999999;
}
section#services .media.media-left .media-body {
  text-align: right;
}
section#services .media.services {
  margin-top: 25px;
}
section#services .media.services:first-child {
  margin-top: 0;
}
section#services img {
  margin: 0 auto 20px;
}
section#services {
  background: #f6f6f6;
}
section#services header h1:after {
  background: #336799;
}
section#services .media i.fa {
  border: 2px solid #336799;
  color: #336799;
}
section#services .media:hover i.fa {
  color: #ffffff;
  background: #336799;
}
section#services .media:hover h3 {
  color: #336799;
}
section#services .media.active i.fa {
  color: #ffffff;
  background: #336799;
}
section#services .media.active .media-heading {
  color: #336799;
}

/*Testimonials*/

section#testimonials {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section#testimonials .testimonial-filtering {
  margin: 20px 0 100px 0;
}
section#testimonials .testimonial-filtering .testimonial .testimonial-person {
  width: 100%;
}
section#testimonials .testimonial-filtering .testimonial .testimonial-person img {
  width: 110px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin: 10px auto;
}
section#testimonials .testimonial-filtering .testimonial .testimonial-comment {
  width:100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 5px 40px 20px;
  position: relative;
}
section#testimonials .testimonial-filtering .testimonial .testimonial-comment h3 {
  margin-bottom: 15px;
}
section#testimonials .testimonial-filtering .testimonial .testimonial-comment p {
  font-size: 16px;
  color: #999999;
}
section#testimonials .testimonial-filtering .testimonial .testimonial-comment p span {
  margin-left: 10px;
}
section#testimonials .testimonial-filtering .testimonial .testimonial-comment:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-width: 15px;
  margin-top: -10px;
}
section#testimonials .testimonial-filtering .testimonial .testimonial-person,
section#testimonials .testimonial-filtering .testimonial .testimonial-comment {
  float: left;
}
section#testimonials .testimonial-filtering .slick-dots {
  bottom: -80px;
}
section#testimonials .testimonial-filtering .slick-dots li button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
section#testimonials .testimonial-filtering .slick-dots li button:before {
  display: none;
}
section#testimonials {
  background: url("../img/bg/dial-health-img2.jpg") fixed;
}
section#testimonials header {
  color: #ffffff;
}
section#testimonials header h1:after {
  background: #ffffff;
}
section#testimonials .testimonial-filtering .testimonial .testimonial-person img {
  border: 3px solid #ffffff;
}
section#testimonials .testimonial-filtering .testimonial .testimonial-comment {
  background: #ffffff;
}
section#testimonials .testimonial-filtering .testimonial .testimonial-comment h3 {
  color: #336799;
}
section#testimonials .testimonial-filtering .testimonial .testimonial-comment p span i {
  color: #336799;
}
section#testimonials .testimonial-filtering .testimonial .testimonial-comment:after {
  border-right-color: #ffffff;
}
section#testimonials .testimonial-filtering .slick-dots li button {
  background: #ffffff;
  border: 2px solid #ffffff;
}
section#testimonials .testimonial-filtering .slick-dots li.slick-active button {
  background: #336799;
}

/* Contact Us */
section#contact {
  padding: 0 0 150px 0;
}
section#contact .media {
  margin-bottom: 10px;
}
section#contact .media i.fa {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  padding: 10px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 1.9em;
  text-align: center;
}
section#contact .media .media-heading {
  padding-top: 15px;
  font-weight: 300;
}
section#contact .media .media-heading a {
  font-weight: 400;
}
section#contact header h1:after {
  background: #336799;
}
section#contact .media i.fa {
  border: 2px solid #336799;
  color: #336799;
}
section#contact .media a {
  color: #336799;
}
section#contact .media:hover i.fa {
  color: #ffffff;
  background: #336799;
}
section#contact .media:hover h3 {
  color: #336799;
}

/*Global Styles*/
.scrollpoint {
  opacity: 0;
}
.scrollpoint.active {
  opacity: 1 \0;
}
.section-heading {
  margin: 60px 0 80px;
  text-align: center;
}
.section-heading h1 {
  display: inline-block;
  font-size: 55px;
  font-weight: 300;
  margin-bottom: 0;
}
.section-heading p {
  font-size: 25px;
  color: #999999;
  font-weight: 300;
}
.section-heading .divider:after {
  content: "";
  position: relative;
  height: 4px;
  width: 60px;
  display: block;
  text-align: center;
  margin: 13px auto;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
}
.section-heading.inverse h1,
.section-heading.inverse p {
  color: #ffffff;
}
.section-heading.inverse .divider:after {
  background: #ffffff;
}



/* footer section */
footer {
  padding: 80px 0;
  text-align: center;
}
footer a > img {
  width: 100px;
}
footer .social {
  display: block;
  margin-top: 30px;
}
footer .social a {
  margin: 0 8px;
  padding: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
footer .social a i {
  width: 1em;
}
footer .rights {
  margin-top: 30px;
}
footer .rights a {
  text-decoration: underline;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  font-weight: bold;
}
footer .rights a:hover {
  text-decoration: none;
}
section {
  position: relative;
  padding-bottom: 90px;
}
/*Login Changes*/
.modal.in .modal-dialog {
    background-color: rgba(255, 255, 255, 0.10);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    z-index:99999;}
.modal-content{
  

background: rgba(65,147,179,1);


z-index: 99999;
  
   

}
.blur {
    box-shadow: 0px 0px 20px 20px rgba(255,255,255,1);
    text-shadow: 0px 0px 10px rgba(51, 51, 51, 0.9);
    transform: scale(0.9);
    opacity: 0.6;
}
.modal-title {color: #fff;  font-weight:bold}

#loginModal{
    overflow:hidden;
    color: #fff;
    
}
#loginModal .help-block a{
    font-size:14px ;
    color: #fff;

}

#loginModal .social-buttons{
    margin:12px 0    
}
#loginModal .social-buttons a{
    width: 49%;
}
#loginModal .form-group {
    margin-bottom: 10px;

}


.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-gp{
    color: #fff;
    background-color:#ED1C24;
}
.btn-gp:hover{
    color: #fff;
    background-color:#CC1B28;
}

.forget-form h2{
  color: #fff;
}

/* Common style for pseudo-elements */
section::before,
section::after {
  position: absolute;
  content: '';
  pointer-events: none;
  overflow: hidden;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.tp-caption {
  font-family: 'Lato', Arial !important;
  -webkit-font-smoothing: antialiased;
}
.tp-caption.large_white_bold {
  color: #ffffff;
  font-size: 65px;
  font-weight: 400;
}
.tp-caption.large_white_light {
  color: #ffffff;
  font-size: 65px;
  font-weight: 400;
  font-weight: 300;
}
.btn {
  -webkit-border-radius: 3em;
  -moz-border-radius: 3em;
  -ms-border-radius: 3em;
  -o-border-radius: 3em;
  border-radius: 3em;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 5px 25px;
}
.btn.btn-primary {
  border: 2px solid #ffffff;
  background: none;
  color: #ffffff;
}
.btn.btn-primary:hover {
  color: #ffffff;
}
.btn.btn-default {
  border: none;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* IE10+ */
  background: linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#cccccc, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.btn.btn-lg {
  padding: 10px 25px;
}
.btn:hover {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
form .form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
  height: 40px;
  line-height: 40px;
  color: #336799;
  border: 2px solid #cccccc;
  font-weight: 700;
  font-size: 14px;
}
form textarea.form-control {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  height: auto;
  line-height: normal;
}
.input-icon{
  position: relative;
}

.bottom{
  border-top:1px solid #fff !important;
  padding-top:10px;
}
.register-form h2{
  color: #fff;
}

@media screen and (max-width: 640px) {
  .logo {
    width: 125px;
    height: auto;
}
.slide1, .slide2, .slide3 {
min-height: 550px;}
.carousel-overlay h2{font-size:20px!important; }
  .navbar-brand{padding-top:13px!important;  }
  .carousel-overlay {top:100px;}

.homeSearchbar { background:none;border:none;padding:0;   }
.btn.btn-lg {padding:2px;} 
.input-group-addon, .input-group-btn, .input-group .form-control { display: table-row; background:transparent!important; border: 1px solid #fff;color: #fff; margin-top:10px!important; margin-bottom: 10px!important }

.btn {border-radius: 0em;}
.btn-lg, .btn-group-lg > .btn {
    
    border-radius: 0px;
}
.btn.btn-default,.dropdown-toggle {background:transparent!important; border: 1px solid #fff; color: #fff!important;width:100%!important;  }
.fa-map-marker{margin-right:2px; }
.howitworks-item h3{ font-size: 16px;}
.howitworks-item h3:hover{ color:#336799 }

.howitworks-item p { display: none}
.howitworks-item i.fa {
    border-radius: 50%;
    padding: 18px;
    transition: all 0.25s ease-in-out 0s;
    width: 60px;
}

.howitworks-item i{font-size:16px }
  .slick-next {
    right: 0;
  }

  .modal.in .modal-dialog {
    
    background-color: rgba(255, 255, 255, 0.10);
    padding: 5px;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    z-index:99999;
  }
  @media screen and (min-width: 1024px) {
  
   .modal-dialog  {width:300px !important;}

}
  .modal-dialog {
    width: 300px !important;
    margin: 30px auto;
}
.modal-title {color: #fff;  font-weight:bold;}
#loginModal .help-block a{
    font-size:12px ;
    color: #fff;

}
#loginModal img{display: none}

#loginModal .social-buttons{
    margin:5px 0    
}
#loginModal .form-group {
    margin-bottom: 5px;

}
header .navbar-default.scrolled button {
    border: 2px solid #fff !important;
    color: #fff !important;
    
}
header .navbar-default.scrolled .logo{
  width: 125px;
  padding-top: 5px;
}


 .slick-prev {
    left: 0;
  }
  .contact-details {
    margin-top: 20px;
  }
  header .navbar-default {
    padding: 20px;
  }
  header .navbar-default .navbar-toggle {
    margin-top: 0px;
    margin-right: 0px;
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    border-radius: 5em;
  }
  header .navbar-default .navbar-toggle:hover,
  header .navbar-default .navbar-toggle:focus {
    background: none;
  }
  header .navbar-default ul.navbar-nav {
    padding-top: 0;
    margin: 0;
  }
  header .navbar-default ul.navbar-nav li a {
    padding: 10px;
    text-align: center;
  }
  header .navbar-default ul.navbar-nav li a.getApp {
    background: none !important;
    -webkit-border-radius: 0em;
    -moz-border-radius: 0em;
    -ms-border-radius: 0em;
    -o-border-radius: 0em;
    border-radius: 0em;
  }
  header .navbar-default .navbar-collapse {
    border-color: transparent;
  }
  header .navbar-default.scrolled .navbar-collapse {
    border-color: transparent;
  }
  header .navbar-default.scrolled ul.navbar-nav {
    padding-top: 0;
    margin: 0;
  }
  header .navbar-default.scrolled .navbar-toggle {
    margin-top: 11px;
    margin-right: 20px;
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    border-radius: 5em;
  }
}
.pre-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  display: block;
}
.pre-loader .load-con {
  margin: 20% auto;
  position: relative;
  text-align: center;
}
.spinner {
  margin: 50px auto 0;
  width: 70px;
  text-align: center;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
header {
  background: #336799;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #336799 0%, #336799 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #336799), color-stop(100%, #336799));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #336799 0%, #336799 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #336799 0%, #336799 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #336799 0%, #336799 100%);
  /* IE10+ */
  background: linear-gradient(-45deg, #336799 0%, #336799 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#336799, endColorstr=#336799, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
header .navbar-default ul.navbar-nav li a {
  color: #ffffff;
  background: none;
}

header .navbar-default ul.navbar-nav li a:hover {
  color: #ffffff;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default.scrolled {
  border-bottom: 3px solid #336799;
}
header .navbar-default.scrolled ul.navbar-nav li a {
  color: #336799;
}
header .navbar-default.scrolled ul.navbar-nav li a:hover {
  color: #336799;
}
header .navbar-default.scrolled ul.navbar-nav li a:hover:after {
  background: #336799;
}
header .navbar-default.scrolled .navbar-brand {
  background: #336799;
}





.howitworks.howitworks-item i.fa {
  border: 2px solid #336799;
  color: #336799;
}
.howitworks .howitworks-item:hover i.fa {
  color: #ffffff;
  background: #336799;
}
.howitworks .howitworks-item:hover h3 {
  color: #336799;
}










/* footer section */
footer {
  background: #336799;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #336799 0%, #336799 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #336799), color-stop(100%, #336799));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #336799 0%, #336799 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #336799 0%, #336799 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #336799 0%, #336799 100%);
  /* IE10+ */
  background: linear-gradient(-45deg, #336799 0%, #336799 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#336799, endColorstr=#336799, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
footer .social a {
  border: 2px solid #ffffff;
}
footer .social a i {
  color: #ffffff;
}
footer .social a:hover {
  background: #ffffff;
}
footer .social a:hover i {
  color: #336799;
}
footer .rights {
  color: #ffffff;
}
footer .rights a {
  color: #ffffff;
  font-weight: 300;
  text-decoration: none;
}
.navbar-toggle {
  background-color: #CCC;
  border: 1px solid rgba(0, 0, 0, 0);
}
.btn.btn-primary {
  color: #336799;
  border-color: #336799;
}
.btn.btn-primary:hover {
  color: #ffffff;
  background: #336799;
  border-color: #336799;
}
.btn.btn-primary.inverse {
  color: #ffffff;
  border-color: #ffffff;
}
.btn.btn-primary.inverse:hover {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.15);
  border-color: #fff;
}
.btn.btn-default {
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* IE10+ */
  background: linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#cccccc, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  color: #336799;
}
.btn.btn-default:hover {
  color: #336799;
}
form .form-control:focus {
  border-color: #336799;
  color: #999999;
}
@media screen and (max-width: 640px) {
  header .navbar-default .navbar-toggle:hover,
  header .navbar-default .navbar-toggle:focus {
    background: none;
  }
  header .navbar-default ul.navbar-nav li a {
    color: #ffffff;
    border-bottom: 1px solid #376fa4;
  }
  header .navbar-default ul.navbar-nav li a.getApp {
    color: #ffffff;
  }
  header .navbar-default ul.navbar-nav li a:after {
    display: none;
  }
  header .navbar-default ul.navbar-nav li a:hover {
    color: #fff;
  }
  header .navbar-default ul.navbar-nav li:last-child {
    display: none;
  }
  header .navbar-default .navbar-collapse {
    background: #336799;
  }
  header .navbar-default.scrolled {
    background: #336799;
  }
  header .navbar-default.scrolled ul.navbar-nav li a {
    color: #ffffff;
  }
  header .navbar-default.scrolled ul.navbar-nav li a:hover {
    color: #336799;
  }


}
.pre-loader {
  background: #336799;
}
@media screen and (max-width:640px) {

  .carousel-overlay h1{
   font-size:24px !important;}
   .carousel-overlay p{
    font-size:14px !important;
   }
   header .navbar-default .navbar-brand  {width: auto !important;
max-height: 33px!important;}
  

}
/*Back To Top*/
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 100px;
  right: 10px;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #336799 url(../img/cd-top-arrow.svg) no-repeat center 50%;
  border: 2px solid #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
/*Tweaks*/
body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    margin-right: 0;
}

.modal {
    overflow-y: auto;
}
#search_by_other {
	display: none;
	max-height: 140px;
	overflow-x: hidden;
}
#search_by_other.open {
	display: block;
}
#search_special {
  color:#555555;
}

/* Search Results Page */
.back_wrapper{
  background-color: #ddd !important;
  margin-top: -20px;
}


/* sidebar filter */
.sidebar-filter {
  background: #fff;
  padding: 5px 15px 20px;
}
.sidebar-filter h2 {
  font-size: 18px;
  margin: 0;
}
.sidebar-filter h3 {
  font: 600 14px;
  /*text-transform: none;*/
  padding-top: 5px;
}
.sidebar-filter label {
  text-transform: none;
  font: 400 13px;
}
.sidebar-filter .block {width: 100%;
overflow: hidden;
padding-bottom: 15px;
margin-bottom: 5px;
border-bottom: 1px solid #EEE;}

.sidebar-filter #amount {
  font-weight: normal !important;
  color: #767F88 !important;
}
.sidebar-filter .ui-widget-content {
  border: none;
  background: #e5e5e5;
  border-radius: 0;
  height: 8px !important;
}
.sidebar-filter .ui-widget-header {
  background: #00ADEF;
}
.ui-state-default,
.ui-state-default:hover {
  border-radius: 0;
  width: 11px !important;
  height: 24px !important;
  border-color: #fff !important;
  top: -8px !important;
  background: #777 !important;
}

.checkbox-list > label {
    display: block;
    font-weight: normal;
}

.content-search {
    background: #FFF none repeat scroll 0% 0%;
    padding: 10px 15px;
}
.ui-button-text{
  padding: 4px!important;

border-right: 1px solid rgb(221, 221, 221) !important;
}
.grp_uidays{
  border: 1px solid #ddd;
  padding:2px;

}
.ui-button-text_selected{
  background-color:#00ADEF;
  color: #fff; 
  padding: 4px!important;
}

a .ui-button-text:hover{background-color:#00ADEF;
  color: #fff; 
  padding: 4px!important;
border: none !important;}


.doctor-item{
  background: #fff;
  padding: 5px 15px 20px;
}
 .fa-inr{
  color: rgb(0, 173, 239);
 }
 i .currency{
  font-size: 65px;
font-family: "Josefin Sans",sans-serif;
font-weight: bold;
padding-left: 10px;
color: rgb(0, 173, 239);
 }
 i .week{
  padding-left: 10px;
  padding-bottom: 10px;
font-size: 15px;
font-family: "Josefin Sans",sans-serif;
font-weight: bold;
 }
 i .time{
  
font-size: 12px;padding-bottom: 10px;
font-family: "Josefin Sans",sans-serif;
color:#000;
 }
i .feedback{
      padding-left: 10px;
    color: rgb(100, 174, 217);
    font-size: 15px;
    font-style: initial;
    font-weight: bold;
}
.view_more{
  padding-right: 5px !important;
}
.btn-book-ap{
  
background: orange none repeat scroll 0% 0%;
border: medium none;
color: white;
font-size: 16px;
font-weight: bold;
transition: all 0.3s ease 0s;
}
.btn-book-ap:hover{
  
background: #64AED9;
border: medium none;
color: white;
font-size: 16px;
font-weight: bold;
}
.fa-clock-o{
  padding-bottom: 5px;
padding-top: 10px;
}
.fa-comment{
  padding-bottom: 10px;
padding-top: 5px;
}